#
sysname {{pair_name_primary}}
#
interface {{pair_name_primary_interface}}
 undo shutdown
 ip address {{ primary_ip }} {{ subnet.netmask }}
 vrrp vrid {{vrrp_group}} virtual-ip vrrp_vip
 vrrp vrid {{vrrp_group}} authentication-mode md5 YsH_2022
 vrrp vrid {{vrrp_group}} priority 120
 vrrp vrid {{vrrp_group}} preempt-mode timer delay 20
 vrrp recover-delay 20
return