hostname {{ pair_name }}-primary
!
interface Vlan{{ shared_vlan }}
 ip address {{ primary_ip }} {{ subnet.netmask }}
 vrrp {{ vrrp_group }} ip {{ vrrp_vip }}
 vrrp {{ vrrp_group }} priority 110
 no shutdown
!
end
